In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-012-24390683-001/instruments'

In [5]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [6]:
data = response.json()

In [7]:
instruments = data['instruments']

In [8]:
instruments_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instruments_data.append(new_ob)

In [9]:
instruments_df = pd.DataFrame.from_dict(instruments_data)

In [10]:
instruments_df

           name      type      displayName  pipLocation marginRate
0       GBP_SGD  CURRENCY          GBP/SGD           -4       0.05
1       USD_SEK  CURRENCY          USD/SEK           -4       0.05
2       EUR_DKK  CURRENCY          EUR/DKK           -4        0.1
3       BCO_USD       CFD  Brent Crude Oil           -2        0.1
4       CAD_CHF  CURRENCY          CAD/CHF           -4       0.04
..          ...       ...              ...          ...        ...
123  NAS100_USD       CFD       US Nas 100            0       0.05
124     EUR_CHF  CURRENCY          EUR/CHF           -4       0.04
125     EUR_ZAR  CURRENCY          EUR/ZAR           -4       0.05
126  CHINAH_HKD       CFD   China H Shares            0        0.1
127    NL25_EUR       CFD   Netherlands 25           -2        0.1

[128 rows x 5 columns]

In [11]:
instruments_df.to_pickle("instruments.pkl")

In [12]:
new_table = pd.read_pickle("instruments.pkl")

In [13]:
new_table

           name      type      displayName  pipLocation marginRate
0       GBP_SGD  CURRENCY          GBP/SGD           -4       0.05
1       USD_SEK  CURRENCY          USD/SEK           -4       0.05
2       EUR_DKK  CURRENCY          EUR/DKK           -4        0.1
3       BCO_USD       CFD  Brent Crude Oil           -2        0.1
4       CAD_CHF  CURRENCY          CAD/CHF           -4       0.04
..          ...       ...              ...          ...        ...
123  NAS100_USD       CFD       US Nas 100            0       0.05
124     EUR_CHF  CURRENCY          EUR/CHF           -4       0.04
125     EUR_ZAR  CURRENCY          EUR/ZAR           -4       0.05
126  CHINAH_HKD       CFD   China H Shares            0        0.1
127    NL25_EUR       CFD   Netherlands 25           -2        0.1

[128 rows x 5 columns]